:root {
     --cm-transtion: all .5s;
   }
/*********** 전체 화면 스타일 ***********/
#wrap{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     min-width: 144px;
     min-height: 780px;
     background-image: url(../img/bg_morning.jpg);
     background-size: cover;
     transition: var(--cm-transtion);

/* min-width:1400 - 최소 가로 사이즈 1400px : 1400보다 가로 회면이 작으면 요소 가려짐 */
/* min-height:1400 - 최소 세로 사이즈 780px : 780보다 세로 화면이 작으면 요소 가려짐 */

/* 카멜 케이스 : backgroundColor - javascript
하이픈 : background-color - html. css
스네이크 : background_color - php  */
}



/* header{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 60px 0 60px ;
}

header img{
     width: 90px;
     height: 80px;
}
.menu-bar{
     display: flex;
     font-size: 14px;
     font-weight: 500;
     color: #555;
     
}

.menu-bar li {
     margin-right: 32px;
}

.menu-bar i{
     font-size: 18px;
     margin-right: 20px;
} */

/************* Header Style ************/
header{
     width: 100%;
     height: auto;
     position: fixed;
     left: 0;
     top: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 120px;
}
header .logo{
     width:90px;
     height: 80px;
     background-image: url(../img/logo_b.png);
     background-size: contain;
     background-repeat: no-repeat;
     transition: var(--cm-transtion);

}

header .logo img{
     width: 100%;
     height: 100%;
}

.navs{
     display: flex;
     column-gap: 50px;
}
.navs .gnb{ 
     display: flex;
     column-gap: 30px;
}
.navs .gnb a{
     font-size:14px;
     color:#555;
     transition: var(--cm-transtion);
}
.navs .sns{
     display: flex;
     column-gap: 20px;
}
.navs .sns a{
     font-size:18px;
     color:#555;
     transition: var(--cm-transtion);
}

/* SECTION STYLE 
section{
     width: 100%;
     display: flex;
     column-gap: 8px;
     position: absolute;
     bottom: 70px;
     padding: 0 120px;
}

section div{
    width: 25%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0 0 20px;
    letter-spacing: 4px;

} */

/************* 시간 모드 버튼************/
.modes{
     width: 100%;
     height: auto;
     position: fixed;
     bottom: 70px;
     padding: 0 120px;
     z-index: 10;
}
.modes ul{
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.modes ul li{
     width: 24.25%;
     background:rgba(255, 255, 255, 0.6);
     padding: 10px 30px;
     transition: all .3s;
}
.modes ul li:hover,.modes ul li.active{
     background: rgba(0, 0, 0, 0.6);
     color: #fff;
}

/*********** 배경구름 ***********/
.pc-cloud1{
     position: absolute;
     top: 0;
     left: -1146px;
     opacity: 0.8;
     animation: pc1 110s linear infinite;
     transition: var(--cm-transtion);
}
.pc-cloud1{
     position: absolute;
     top: 20;
     left: 0;
     opacity: 0.8;
     animation: pc2 110s linear infinite;
     transition: var(--cm-transtion);
}


/*********** 모바일 구름 ***********/
.mobile-frame .m-cloud1{
     width: 600px;
     position: absolute;
     top: 30px;
     left: -600px;
     animation: mc1 110s linear infinite;
     transition: var(--cm-transtion);
}
.mobile-frame .m-cloud2{
     width: 600px;
     position: absolute;
     top: 20px;
     left:0;
     animation: mc2 110s linear infinite;
     transition: var(--cm-transtion);
}

@keyframes pc1{
     0%{
          left: -1146px;
     }
     100%{
          left: 1950px;
     }
}

@keyframes pc2{
     0%{
          left: 0;
     }
     50%{
          left: 1950px;
          opacity: 0;
     }
     50.1%{
          left: -1840px;
          opacity: 0.8;
     }
     100%{
          left: 0;
     }
}

@keyframes mc1{
     0%{
          left: -600px;
     }
     100%{
          left: 544px;
     }
}

@keyframes mc2{
     0%{
          left: 0;
     }
     50%{
          left: 544px;
          opacity: 0;
     }
     50.1%{
          left: -700px;
          opacity: 1;
     }
     100%{
          left: 0;
     }
}

/* 슬로건 스타일 */
/* .text{
     position: absolute;
     top: 50%;
     left: 120px;
     transform: translateY(-50%);
}
.text .main-txt-l{
     font-size: 50px;
     color: #111;
}
.text .main-txt-r{
     font-size: 50px;
     color: #666;
}
.text .sub{
     font-size: 14px;
     color: #333;

} */
.slogan{
     width: 100%;
     height: auto;
     position: fixed;
     padding: 0 120px;
     top: 50%;
     transform: translateY(-50%);
}
.slogan p{
     font-size: 50px;
     color: #666;
     transition: var(--cm-transtion);
}
.slogan p strong{
     color: #111;
     transition: var(--cm-transtion);
}
.slogan em{
     font-size: 14px;
     color: #333;
     font-style: normal;
     transition: var(--cm-transtion);
}

/*********** 모바일 프레임 ***********/
.mobile-frame{
     position: fixed;
     top: 200px;
     right: -300px;
     width: 1226px;
     height: 809px;
     background-image: url(../img/phone_morning.png);
     transition: var(--cm-transtion);
}
.mobile-frame p{
     width: 544px;
     height: 308px;
     position: absolute;
     left: 136px;
     top: 100px;
     overflow: hidden;
     color: #333;
     font-weight: bold;
     font-size: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: .5rem;
     transition: var(--cm-transtion);
}
.mobile-frame p span{
     z-index: 20;
}


/********** 각 시간별 테마 변경 **********/
/* 아침 */
#wrap.morning{
     background-image: url(../img/bg_morning.jpg);
}
#wrap.morning header .logo{
     background-image: url(../img/logo_b.png);
}
#wrap.morning .navs .gnb a{
     color: #555;
}
#wrap.morning .navs .sns a{
     color: #555;
}
#wrap.morning .mobile-frame{
     background-image: url(../img/phone_morning.png);
}
#wrap.morning .mobile-frame p{
     color: #333;
}
#wrap.morning .slogan p{
     color: #666;
}
#wrap.morning .slogan p strong{
     color: #111;
}
#wrap.morning .slogan em{
     color: #333;
}

/* 오후 */
#wrap.afternoon{
     background-image: url(../img/bg_afternoon.jpg);
}
#wrap.afternoon header .logo{
     background-image: url(../img/logo_b.png);
}
#wrap.afternoon .navs .gnb a{
     color: #555;
}
#wrap.afternoon .navs .sns a{
     color: #555;
}
#wrap.afternoon .mobile-frame{
     background-image: url(../img/phone_afternoon.png);
}
#wrap.afternoon .mobile-frame p{
     color: #333;
}
#wrap.afternoon .slogan p{
     color: #666;
}
#wrap.afternoon .slogan p strong{
     color: #111;
}
#wrap.afternoon .slogan em{
     color: #333;
}

/* 저녁 */
#wrap.evening{
     background-image: url(../img/bg_evening.jpg);
}
#wrap.evening header .logo{
     background-image: url(../img/logo_w.png);
}
#wrap.evening .navs .gnb a{
     color: #fff;
}
#wrap.evening .navs .sns a{
     color: #fff;
}
#wrap.evening .mobile-frame{
     background-image: url(../img/phone_evening.png);
}
#wrap.evening .mobile-frame p{
     color: #fff;
}
#wrap.evening .slogan p{
     color: #444;
}
#wrap.evening .slogan p strong{
     color: #fff;
}
#wrap.evening .slogan em{
     color: #333;
}


/* 밤*/
#wrap.night{
     background-image: url(../img/bg_night.jpg);
}
#wrap.night header .logo{
     background-image: url(../img/logo_w.png);
}
#wrap.night .navs .gnb a{
     color: #fff;
}
#wrap.night .navs .sns a{
     color: #fff;
}
#wrap.night .mobile-frame{
     background-image: url(../img/phone_night.png);
}
#wrap.night .mobile-frame p{
     color: #fff;
}
#wrap.night .slogan p{
     color: #bbb;
}
#wrap.night .slogan p strong{
     color: #fff;
}
#wrap.night .slogan em{
     color: #888;
}

.pc-cloud1{
     opacity: 0.1;
}
.pc-cloud1{
     opacity: 0.1;
}
.mobile-frame .m-cloud1{
     opacity: 0.4;
}
.mobile-frame .m-cloud2{
     opacity: 0.4;
}


/* input{
     width: 40px;
     height: 40px;
     position: absolute;
     z-index: 1000;
     bottom: 136px;
     right: 50px;
     border-radius: 50%;
} */
input[type="checkbox"]{
     display: none;
}
input[type="checkbox"] + label{
     width: 40px;
     height: 40px;
     position: absolute;
     z-index: 1000;
     bottom: 136px;
     right: 50px;
     border-radius: 50%;
     background: #000;
     transition: 0.5s;
}
label:hover{
     transform:scale(0.8);
}

.night-btn.active{
     background: #fff;
}
